@{
    ViewData["Title"] = @Localizer["ElementsTable"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div>
    <p class="large_font">@ViewData["Title"]</p> 
</div>
 
<p>@Localizer["PeriodicTableOfElements"]</p>


<div class="periodic-table">
    @foreach (var element in Model)
    {
        var className = $"element {element.Type}";
        <a href="@Url.Action("SpecificElement", "Elements", new { name = @element.ShortName })" style="text-decoration:none; color: Black; position: relative; grid-row: @(element.Row); grid-column: @(element.Column);">
            <div class="@className" data-number="@(element.AtomicMass)" data-name="@(element.LatinName)" >@element.ShortName</div>
        </a>
    }
</div> 