@{
    ViewData["Title"] = @Localizer["ElementsPage"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 
<p class="huge_font">@Localizer["FoundElements"]</p>

<div>
    <p class="medium_font">@Localizer["ForPhrase"]</p>
    <p class="medium_font">@("\"")</p>
    <p class="medium_font">@ViewData["SearchString"]</p>
    <p class="medium_font">@("\"")</p>
</div>
<div class="Search">
</div>
<div>
    <p class="medium_font">@Localizer["NumberOfElements"]</p>
    <p class="medium_font">@Model.Count</p>
</div> 
<div></div>

@* Loop through found elements by given phrase *@
@foreach (var element in Model)
{
    <span id="up">
        @element.Protons
    </span>
    <span id="down">
        @element.MassNumber
    </span>
    <span class="large_font">
        @element.ShortName
    </span> 
    <hr>
}
