@{
    ViewData["Title"] = @Localizer["ElementsPage"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 
<p class="huge_font">@Localizer[@Model[0].TypeDescription]</p>
<div class="@Model[0].Type">
</div>

<div>
    <p class="medium_font">@Localizer["NumberOfElements"]</p> 
    <p class="medium_font">@Model.Count</p>
</div>
<div></div>

@foreach (var element in Model)
{
    <span id="up">
        @element.Protons
    </span>
    <span id="down">
        @element.MassNumber
    </span>
    <span class="large_font">
        @element.ShortName
    </span> 
    <hr>
}
