@{
    ViewData["Title"] = @Localizer["ElementsPage"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p class="huge_font">@Localizer[@Model[0].TypeDescription]</p>
<div class="@Model[0].Type">
</div>

<div>
    <p class="medium_font">@Localizer["NumberOfElements"]</p>
    <p class="medium_font">@Model.Count</p>
</div>
<div></div>

@* Loop through Elements *@
@foreach (var element in Model)
{
    @* UI element presenter as action invoker (link to specific element) *@
    <a href="@Url.Action("SpecificElement", "Elements", new { name = @element.ShortName })" style="text-decoration:none; color: Black;">

        <div class="number-container">
            <div class="mass-number">@element.MassNumber</div>
            <div class="atomic-number">@element.Protons</div>
        </div>
        <span class="large_font">
            @element.ShortName
        </span>
        <span class="small_font" style="text-align: center;"> 
            @element.LatinName
        </span>
        <hr>
    </a>
}
