@{
    ViewData["Title"] = @Localizer["ElementPage"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p class="huge_font">@Model.LatinName</p>
<div class="@Model.Type">
</div>
<div class="row">
    <div class="column"> 
        <div style="font-size: 250px; margin: -50px 0px 0px 0px;">
            @Model.ShortName
        </div>
        <div class="large_font" style="font-weight: lighter; margin: -50px 0px 0px 0px;">
            @Localizer[$"{@Model.Type}"]
        </div>
    </div>
    <div class="column">
        <div class=specific-element>
            <div class="specific-element-header-bold">
                <span>@Localizer["MassNumber"]</span>
                <span>@Model.MassNumber</span>
            </div>
            <div class="specific-element-header-normal">
                <span>@Localizer["AtomicMass"]</span>
                <span>@Model.AtomicMass</span>
            </div>
            <div class="specific-element-header-bold">
                <span>@Localizer["Electrons"]</span>
                <span>@Model.Electrons</span>
            </div>
            <div class="specific-element-header-normal">
                <span>@Localizer["Protons"]</span>
                <span>@Model.Protons</span>
            </div>
            <div class="specific-element-header-bold">
                <span>@Localizer["Neutrons"]</span>
                <span>@Model.Neutrons</span>
            </div>
            <div class="specific-element-header-normal">
                <span>@Localizer["Density"]</span>
                <span>@Model.Density</span>
            </div>
            <div class="specific-element-header-bold">
                <span>@Localizer["Phase"]</span>
                <span>@Localizer[$"{@Model.Phase}"]</span>
            </div>
            <div class="specific-element-header-normal">
                <span>@Localizer["Year"]</span>
                <span>@Model.Year</span>
            </div>
            <div class="specific-element-header-bold">
                <span>@Localizer["Discoverer"]</span>
                <span>@Model.Discoverer</span>
            </div>
            <div class="specific-element-header-normal">
                <span>@Localizer["Column"]</span>
                <span>@Model.Column</span>
            </div>
            <div class="specific-element-header-bold">
                <span>@Localizer["Row"]</span>
                <span>@Model.Row</span>
            </div>
        </div>
    </div>
</div>

