@{
    ViewData["Title"] = @Localizer["PeriodicTable"];
    ViewData["Language"] = @Localizer["Language"];
}
@using Microsoft.AspNetCore.Mvc.Localization 
@inject IViewLocalizer Localizer


<div class="text-center">
    <div id="index_title">
        <p class="large_font">@Localizer["PeriodicTable"]</p>
        <div>
            <p style="margin-bottom:1cm;"></p>
        </div>
        <p class="small_font">@Localizer["MendelPeriodicTable"]</p>
    </div> 
</div>

<div id="flatElementButton">
    <a href="@Url.Action("ElementsTable", "Elements")" style="text-decoration:none; color: Black;">
        <div>
            <span id="mainText">Table</span>  
        </div>
    </a>
</div>

<div id="gridFlatContainer"> 
    @foreach (var element in Model)
    {
        <div class=@(String.Format("col-md-2-cell cell-{0}", @element.Index)) id="flatElementButton">
            <a href="@Url.Action("SpecificElements", "Elements", new { type = @element.Type })" style="text-decoration:none; color: Black;">
                <div>
                    <span id="mainText">@element.ShortName</span>
                    <div class=@element.Type></div>
                    <span id="subText">@Localizer[@element.Description]</span>
                </div>
            </a>
        </div>
    } 
</div>


<form method="get" action="/Elements/SearchElements"> 
    <td>
        <input class="form-control" type="text" placeholder=@Localizer["SearchFor"] name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
    </td>
    <td>
        <input type="submit" value=@Localizer["Search"] class="btn btn-primary" />
    </td>
</form>

<div id="Footer" style="opacity: 0.5">
    <p style="margin: 5px 10px 0px 10px">Konrad Zareba - 2024 </p>
</div>